# --- Proyecto Android (hermes_travelapp) ---
hermes_travelapp/.gradle/
hermes_travelapp/.idea/
hermes_travelapp/.kotlin/
hermes_travelapp/build/
hermes_travelapp/app/build/
hermes_travelapp/local.properties
hermes_travelapp/*.iml

# --- Archivos del Sistema / IDE ---
.DS_Store
Thumbs.db
.vscode/

# --- Logs y Temporales ---
*.log
*.temp